<!DOCTYPE html>
<html lang="fr"
      layout:decorate="layout/base"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une session de cours</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-2" layout:fragment="contentForView">
    <div class="card mt-1">
        <div class="card-header">
            <h3>Ajouter un cours</h3>
        </div>
        <div class="card-body">
            <form method="POST" th:action="@{/save-type-session}" >
                <div class="mb-3">
                    <label for="typeSession" class="form-label">Type session de cours</label>
                    <select id="typeSession" name="typeSession" required>
                        <option value="PRESENTIEL">Présentiel</option>
                        <option value="EN_LIGNE">En ligne</option>
                    </select>
                    <button type="submit" class="btn btn-success">Ok</button>
                </div>
            </form>

            <form method="POST" th:action="@{/save-sessionCours}" th:object="${sessionCoursForm}">

                <div class="mb-3">
                    <label for="date" class="form-label">Date de la session</label>
                    <input type="date" th:field="*{date}" class="form-control" id="date" name="date" required>
                </div>


                <div class="mb-3">
                    <label for="heureDebut" class="form-label">Heure de Début</label>
                    <input type="number" th:field="*{heureDebut}" class="form-control" id="heureDebut" name="heureDebut" required>
                </div>

                <div class="mb-3">
                    <label for="heureFin" class="form-label">Heure de Fin</label>
                    <input type="number" th:field="*{heureFin}" class="form-control" id="heureFin" name="heureFin" required>
                </div>

                <div class="mb-3">
                    <label for="classes" class="form-label">Classes</label>
                    <select multiple class="form-select" th:field="*{sessionCoursClasses}" required>
                        <option th:each="classe : ${classeelectForm}" th:value="${classe.id}" th:text="${classe.libelle}">
                            Choisir une classe
                        </option>
                    </select>
                </div>

                <!--<div class="mb-3">
                    <label for="typeSession" class="form-label">Type session de cours</label>
                    <select id="typeSession" name="typeSession" required>
                        <option value="PRESENTIEL">Présentiel</option>
                        <option value="EN_LIGNE">En ligne</option>
                    </select>
                    <button type="submit" class="btn btn-success">Ok</button>
                </div>-->

                <div class="mb-3" id="salleSelect" th:if="${showSalleSelect}">
                    <label for="salle" class="form-label">Salle</label>
                    <select class="form-select" th:field="*{salle}" required>
                        <option th:each="salle: ${salleSelectForm}" th:value="${salle.id}" th:text="${salle.libelle}">
                            Choisir une salle
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Ajouter la session de cours</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>


